CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++23
    - -I
    - Render
    - -I
    - SandBox/SDL/include
    - -I
    - build/SandBox/SDL/include-revision
    - -I
    - '%VULKAN_SDK%/Include'
    - -include
    - vulkan/vulkan.h

Index:
  Background: Build

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU