CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++23
    - -IRender
    - -ISandBox/SDL/include
    - -Ibuild/SandBox/SDL/include-revision
    - "-I${env:VULKAN_SDK}/Include"
    - -include
    - vulkan/vulkan.h

Index:
  Background: Build

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU