CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++23
    - -I
    - D:/Render/Render
    - -I
    - D:/Render/SandBox/SDL/include
    - -I
    - D:/Render/build/SandBox/SDL/include-revision

Index:
  Background: Build

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU